<!doctype html>
<html data-ng-app="swissPlant">

<head>
    <title>SwissPlant GmbH &mdash; Partner</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="description" content="Die Firmen AgriPlant AG und SwissPlant GmbH produzieren, handeln und importieren mit in- und ausländischen Gemüsejungpflanzen und Hilfsstoffen." />
    <meta name="keywords" content="Gemüse, Gemuese, Jungpflanzen, Setzlinge, Salat, Schweiz, Seeland, SwissPlant" />
    <meta name="author" content="Robin Löffel" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body data-ng-controller="langCtrl">
    <header data-ng-cloak>
        <nav>
            <ul class="clearfix">
                <li>
                    <a href="index.html">
                        <img src="img/logo-swissplant-tilted.svg" alt="{{'common_logo_alt' | translate}}">
                    </a>
                </li>
                <li>
                    <a href="ueber-uns.html">
                        {{'nav_about' | translate}}
                    </a>
                </li>
                <li>
                    <a href="angebot.html">
                        {{'nav_portfolio' | translate}}
                    </a>
                </li>
                <li class="active">
                    <a href="partner.html">
                        {{'nav_partners' | translate}}
                    </a>
                </li>
                <li>
                    <a href="kontakt.html">
                        {{'nav_contact' | translate}}
                    </a>
                </li>
                <li class="lang-changer">
                    <div class="lang-changer-container">
                        <div class="icon-container">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="changer-container">
                            <span data-ng-click="changeLang('de')">de</span>
                            <span data-ng-click="changeLang('en')">en</span>
                            <span data-ng-click="changeLang('fr')">fr</span>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main data-ng-cloak>
        <section id="landing" class="little-hero">
            <div class="cover-parent">
                <div class="cover-parent-background partners-image top"></div>
            </div>
        </section>
        <section id="ueber-uns">
            <div class="wrapper copytext">
                <h1>
                    {{'nav_partners' | translate}}
                </h1>
                <h2>AgriPlant AG</h2>
                <p>
                    Durch unseren ortsansässigen Produktionsbetrieb wachsen unsere Jungpflanzen im selben "Haus", wo sie anschliessend weiter kultiviert werden. Dank der individuellen Ausliefertage und den kurzen Transportdistanzen zum Kunden, können wir Ihnen stressfreie Pflanzen anbieten.
                </p>
                <h2>Gipmans Holland</h2>
                <p>
                    Bei der Firma Gipmans in Holland lassen wir unsere Speedy- und Warmhauspflanzen aussäen. Traypflanzen werden halbfertig bezogen, um sie anschliessend bei uns fertig zu kultivieren.
                </p>
                <p>
                    Warmhauspflanzen werden fertig zu uns geliefert und durch unsere eigene Betriebsspedition direkt zum Kunden geliefert.
                </p>
            </div>
        </section>
    </main>
    <footer data-ng-cloak>
        <div class="wrapper">
            <p>
                <small>
                    <a href=".">
                        {{'nav_start' | translate}}
                    </a>
                    &mdash;
                    <a href="ueber-uns.html">
                        {{'nav_about' | translate}}
                    </a>
                    &mdash;
                    <a href="angebot.html">
                        {{'nav_portfolio' | translate}}
                    </a>
                    &mdash;
                    <a href="partner.html">
                        {{'nav_partners' | translate}}
                    </a>
                    &mdash;
                    <a href="kontakt.html">
                        {{'nav_contact' | translate}}
                    </a>
                </small>
            </p>
            <p>
                <img src="img/logo-swissplant-tilted.svg" class="footer-logo" alt="{{common_logo_alt | translate}}">
                <br>
                <img src="img/logo-agriplant.svg" class="footer-logo" alt="{{common_logo_alt | translate}}">
            </p>
            <p>
                <small>
                   +41 32 313 52 10 &mdash; <a href="mailto:info@swissplant.ch">info@swissplant.ch</a> / <a href="mailto:info@agriplant.ch">info@agriplant.ch</a>
                    <br>
                    {{'footer_address' | translate}}
                    <br>
                    {{'footer_mailbox' | translate}}
                </small>
            </p>
            <p>
                <small>
                   {{'footer_mo_fr' | translate}}: &mdash; 07:30 {{'footer_to' | translate}} 11:45 &amp; 13:30 {{'footer_to' | translate}} 17:30
                </small>
            </p>
            <p>
                <small>
                   {{'footer_robin' | translate}} <a href="http://robinloeffel.ch">Robin Löffel</a>
                </small>
            </p>
            <p>
                <small>
                   &copy; SwissPlant GmbH, 2015
                </small>
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/script.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/map.js"></script>
</body>

</html>
