.cover-section {
    height: 100vh;
    border-bottom: 5px solid $brandPrimary;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__images {
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparentize(black, .5);
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
    }
}
