$navigationBackground: transparentize(white, .05);
$navigationBoxShadow: 0 1px 5px transparentize(black, .9);

.navigation {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $navigationBackground;
    box-shadow: $navigationBoxShadow;
    z-index: 5;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        position: relative;
    }

    &__logo {
        width: 180px;
    }

    &__link {
        display: inline-block;
        padding: 30px 40px;
        text-decoration: none;
        color: inherit;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 100%;
            background-color: $brandPrimary;
            transform: scale(1, 0);
            transform-origin: bottom;
            transition: transform $transitionLength $transitionEasing;
        }

        &:hover {
            &::after {
                transform: scale(1);
            }
        }

        &--logo {
            padding: 10px;
            display: inline-flex;
            align-items: center;
            margin-right: 75px;

            &::after {
                content: none;
            }
        }
    }
}
