@charset "UTF-8";
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 100 900;
  src: url("/font/inter.woff2") format("woff2-variations");
  font-display: swap;
}
html {
  font-family: inter, system-ui;
  font-size: 110%;
  line-height: 1.6;
  color: #393939;
  text-rendering: optimizelegibility;
}
@media (width >= 900px) {
  html {
    font-size: 125%;
  }
}

h1,
h2,
h3 {
  hyphens: auto;
  line-height: 1.1;
  text-wrap: balance;
}

h1,
table {
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
}

h2,
h3,
ul,
ol,
p:not(:last-child) {
  margin-bottom: 15px;
}

a {
  color: #007333;
}

ul,
ol {
  padding-left: 30px;
}

hr {
  height: 2px;
  margin: 45px 0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
}

address {
  font-style: unset;
  white-space: pre-line;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: circle(0);
}

.content {
  width: 80%;
  margin: 10% auto;
}
@media (width >= 900px) {
  .content {
    width: min(90%, 800px);
    margin: 100px auto;
  }
}
.content > * + *,
.content ol li + li {
  margin-top: 2em;
}
.content .two-column > * + * {
  margin-top: 2em;
}
@media (width >= 640px) {
  .content .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content .two-column > * + * {
    margin-top: unset;
  }
  .content .two-column > * {
    min-width: 0;
  }
  .content .two-column .left {
    grid-column: 1/span 1;
  }
  .content .two-column .right {
    grid-column: 2/span 1;
  }
}

.footer {
  padding: 75px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #393939;
  border-top: 5px solid #007333;
}
.footer a {
  color: inherit;
}
.footer > * {
  width: min(900px, 100%);
  margin: auto;
}

.footer-hr {
  height: 2px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.05);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  place-items: center start;
}
@media (width <= 900px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 600px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}

.footer-content > .footer-text {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
  text-wrap: wrap;
}

.footer-navigation {
  margin-bottom: 30px;
}

.footer-navigation-list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.footer-navigation-item {
  display: inline-block;
}
.footer-navigation-item:not(:last-child)::after {
  content: "— ";
}

.navigation {
  position: fixed;
  inset: 0 0 auto;
  z-index: 9;
  width: min(100% - 20px, 480px);
  margin: 10px auto 0;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: soft-light;
  isolation: isolate;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: translate 0.3s ease-in-out;
}
.navigation.hidden {
  translate: 0 -110%;
}

.navigation-bar,
.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.navigation-bar-item {
  display: grid;
  place-items: center;
}

.navigation-bar-logo,
.navigation-bar-toggle {
  display: grid;
  place-content: center;
}

.navigation-bar-toggle {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  font-size: 125%;
  color: inherit;
  cursor: pointer;
  background: 0;
  border: 0;
}

.navigation-expando {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
  will-change: grid-template-rows;
}
.open .navigation-expando {
  grid-template-rows: 1fr;
}

.navigation-bar-toggle-icon-menu,
.navigation-bar-toggle-icon-x {
  grid-area: 1/1/1/1;
  width: 24px;
  height: 24px;
  transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.open .navigation-bar-toggle-icon-menu {
  opacity: 0;
  scale: 0;
}

.navigation-bar-toggle-icon-x {
  opacity: 0;
  scale: 0;
}
.open .navigation-bar-toggle-icon-x {
  opacity: 1;
  scale: 1;
}

.navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}
.open .navigation-list {
  visibility: unset;
}

.navigation-item:nth-child(-n+2) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.navigation-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.navigation-item:nth-child(odd) {
  border-right: 0.5px solid rgba(0, 0, 0, 0.05);
}
.navigation-item:nth-child(even) {
  border-left: 0.5px solid rgba(0, 0, 0, 0.05);
}
.navigation-item:last-child {
  grid-column: span 2;
  text-align: center;
  border: 0;
}

.navigation-link {
  display: block;
  padding: 16px;
  text-align: center;
}

.navigation-language-toggle {
  padding: 16px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: 0;
  border: 0;
}
.navigation-language-toggle > * {
  pointer-events: none;
}

.icon {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.icon.footer-logo {
  width: 100px;
  height: 30px;
  color: #007333;
}
.icon.header-navigation-logo {
  width: 121px;
  height: 32px;
  color: #007333;
}
.icon.link {
  width: 0.8em;
  height: 0.8em;
}

.landing {
  position: relative;
  height: 100vh;
  isolation: isolate;
  border-bottom: 5px solid #007333;
}
.landing.small {
  height: 33vh;
}
.landing:not(.small)::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-images {
  position: absolute;
  inset: 0;
  display: grid;
}
.landing-images > * {
  grid-area: 1/1/2/2;
}

.landing-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.landing-images:has(:nth-child(2)) .landing-image {
  transition: opacity 2.5s ease-in-out;
}
.landing-image.is-visible {
  opacity: 1;
}

.landing-text {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: grid;
  place-items: center;
  width: min(65%, 1024px);
  height: fit-content;
  margin: auto;
}

.landing-logo {
  width: 100%;
  aspect-ratio: 19/5;
  color: #fff;
}

.landing-jump {
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: 0;
  animation: up-and-down 2s ease-in-out infinite alternate;
}

.landing-jump-icon {
  width: 50%;
  height: 50%;
}

@keyframes up-and-down {
  from {
    translate: 0 -20%;
  }
  to {
    translate: 0 20%;
  }
}
.map {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/10;
  border: 0;
}
.map.wide {
  width: 110%;
  margin-inline: -5%;
}

.more {
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  font-size: 90%;
  -webkit-text-decoration: none;
  text-decoration: none;
  border: 3px solid #007333;
  transition: color 0.3s ease-in-out;
}
.more::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #007333;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}
.more:hover {
  color: #fff;
}
.more:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.photo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 0;
  list-style: none;
}
@media (width <= 900px) {
  .photo-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 600px) {
  .photo-list {
    grid-template-columns: 1fr;
  }
}
.photo-list .smaller {
  font-size: smaller;
}

.photo-list-item {
  position: relative;
  cursor: pointer;
}

.photo-list-content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: soft-light;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.photo-list-item:hover .photo-list-content {
  opacity: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

*:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.split {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.split-text {
  grid-column: span 2;
  width: min(75%, 640px);
  margin: 5% auto;
}
.split:first-child .split-text {
  margin-top: 10%;
}
.split:last-child .split-text {
  margin-bottom: 10%;
}

.split-image {
  display: none;
  width: 100%;
  height: 100%;
}

.split-map {
  display: none;
}

@media (width >= 780px) {
  .split {
    height: 65vh;
  }
  .split-text {
    grid-column: span 1;
    margin: auto;
  }
  .split:first-child .split-text {
    margin-top: auto;
  }
  .split:last-child .split-text {
    margin-bottom: auto;
  }
  .split-image,
  .split-map {
    display: unset;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.table tr {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table tr:hover {
  color: #fff;
  background-color: #007333;
}
.table td {
  padding: 10px;
}
.table td:first-child {
  font-weight: 700;
}
@media (width <= 900px) {
  .table td {
    padding: 5px;
  }
  .table td:first-child {
    padding-right: 0;
  }
}

.video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border: 0;
}

[data-obfuscate-eap]::after {
  content: "info@agriplant.ch";
}

[data-obfuscate-esp]::after {
  content: "info@swissplant.ch";
}

[data-obfuscate-eml]::after {
  content: "m.loeffel@swissplant.ch";
}

[data-obfuscate-etb]::after {
  content: "t.baumann@swissplant.ch";
}

[data-obfuscate-esl]::after {
  content: "s.loeffel@swissplant.ch";
}

[data-obfuscate-t]::after {
  content: "+41 32 313 52 10";
}

[data-obfuscate-tml]::after {
  content: "+41 79 631 45 59";
}

[data-obfuscate-ttb]::after {
  content: "+41 79 815 38 35";
}

[data-obfuscate-tsl]::after {
  content: "+41 79 641 52 10";
}
/*# sourceMappingURL=style.css.map */