@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../font/inter-regular.woff2") format('woff2'), url("../font/inter-regular.woff2") format('woff');
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../font/inter-bold.woff2") format('woff2'), url("../font/inter-bold.woff2") format('woff');
}
