@use "variables";
@use "media-queries";

.footer {
  padding: 75px;
  font-size: 0.8rem;
  color: variables.$color-white;
  background-color: variables.$color-text;
  border-top: 5px solid variables.$color-brand;

  a {
    color: inherit;
  }

  > * {
    width: min(900px, 100%);
    margin: auto;
  }
}

.footer-hr {
  height: 2px;
  margin: 50px auto;
  background-color: variables.$color-white-05;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  place-items: center start;

  @include media-queries.below-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include media-queries.below-mobile {
    grid-template-columns: 1fr;
  }
}

.footer-content > .footer-text {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
  text-wrap: wrap;
}

.footer-navigation {
  margin-bottom: variables.$space-big;
}

.footer-navigation-list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.footer-navigation-item {
  display: inline-block;

  &:not(:last-child)::after {
    content: "— ";
  }
}
