[data-obfuscate-eap]::after {
  content: "info@agriplant.ch";
}

[data-obfuscate-esp]::after {
  content: "info@swissplant.ch";
}

[data-obfuscate-eml]::after {
  content: "m.loeffel@swissplant.ch";
}

[data-obfuscate-etb]::after {
  content: "t.baumann@swissplant.ch";
}

[data-obfuscate-esl]::after {
  content: "s.loeffel@swissplant.ch";
}

[data-obfuscate-t]::after {
  content: "+41 32 313 52 10";
}

[data-obfuscate-tml]::after {
  content: "+41 79 631 45 59";
}

[data-obfuscate-ttb]::after {
  content: "+41 79 815 38 35";
}

[data-obfuscate-tsl]::after {
  content: "+41 79 641 52 10";
}
