<div class="_notice" data-notice-container>
  <div class="_notice-content">
    <h1>Ihr Browser ist veraltet!</h1>
    <p>
      Sie verwenden den Internet Explorer – dieser Browser wird von Microsoft nicht mehr gewartet. Auf dieser und vielen anderen Webseiten können Probleme auftreten. Um schnell und sicher im Internet zu surfen, wechseln Sie zu <a href="https://mozilla.org/de/firefox/new/">Mozilla Firefox</a>, <a href="https://microsoft.com/de-ch/windows/microsoft-edge">Microsoft Edge</a> oder <a href="https://google.com/intl/de/chrome">Google Chrome</a>.
    </p>
    <a href="#" data-notice-remove-trigger>-> Trotzdem weiter zur Webseite</a>
  </div>
</div>
