@use "variables";

html {
  color: variables.$color-text;
  font-family: variables.$font-family;
  font-size: variables.$font-size-mobile;
  line-height: variables.$line-height;

  @media (width >= 900px) {
    font-size: variables.$font-size;
  }
}

h1,
h2,
h3 {
  line-height: variables.$line-height-heading;
}

h1,
table {
  margin-bottom: variables.$space-big;
}

h1 {
  font-size: 2rem;
}

h2,
p:not(:last-child) {
  margin-bottom: variables.$space-regular;
}

a {
  color: variables.$color-brand;
}
