@use 'variables';

._icon {
  width: 25px;
  height: 25px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;

  &._footer-logo {
    width: 100px;
    height: 30px;
    color: variables.$color-brand;
  }

  &._header-navigation-logo {
    width: 121px;
    height: 32px;
    color: variables.$color-brand;
  }
}
