@use "variables";

.icon {
  width: 25px;
  height: 25px;
  pointer-events: none;

  &.footer-logo {
    width: 100px;
    height: 30px;
    color: variables.$color-brand;
  }

  &.header-navigation-logo {
    width: 121px;
    height: 32px;
    color: variables.$color-brand;
  }
}
