@use 'variables';

._landing {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: variables.$color-white;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: variables.$color-brand;
    content: '';
  }

  &-images,
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &-images {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(variables.$color-black, 0.5);
      content: '';
    }
  }

  &-image {
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &-visible {
      opacity: 1;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    max-width: 1024px;
  }

  &-jump {
    display: inline-flex;
    padding: 10px;
    color: inherit;
    animation: move 1s alternate infinite ease-in-out;

    ._icon {
      width: 30px;
      height: 30px;
    }
  }

  &-logo {
    width: 100%;
    height: 200px;
  }

  &--small {
    height: 40vh;

    ._landing-images::after {
      content: none;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}
