.footer {
    display: flex;
    flex-direction: column;
    border-top: 5px solid $brandPrimary;
    background-color: $textPrimary;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    padding: 50px 0;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        max-width: 900px;
        margin-top: 25px;

        &--with-separator {
            flex-direction: column;

            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: transparentize(white, .95);
                margin-bottom: 50px;
            }
        }
    }

    &__item {
        flex: 1 1 100%;
        margin: 0 15px;
    }

    &__logo {
        width: 50%;
    }
}
