@use "variables";

.more {
  position: relative;
  padding: 20px 25px;
  border: 3px solid variables.$color-brand;
  margin-top: 15px;
  font-size: 90%;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$color-brand;
    content: "";
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    color: variables.$color-white;

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
