@use 'variables';

._photo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgba(variables.$color-white, 0.9);
    opacity: 0;
    backdrop-filter: blur(10px) saturate(150%);
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  &-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    margin: 10px;

    &::after {
      position: absolute;
      padding-top: 100%;
      content: '';
    }

    &:hover {
      ._photo-list-content {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &-image {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-role,
  &-mail,
  &-tel {
    font-size: 80%;
  }
}
