@use 'variables';

.table {
  width: 100%;
  border: 1px solid variables.$color-black-5-percent;
  border-collapse: collapse;

  tr {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:nth-child(odd) {
      background-color: variables.$color-black-5-percent;
    }

    &:hover {
      color: variables.$color-white;
      background-color: variables.$color-brand;
    }
  }

  td {
    padding: 10px;

    &:first-child {
      font-weight: 700;
    }
  }

  @media (max-width: 900px) {
    td {
      padding: 5px;

      &:first-child {
        padding-right: 0;
      }
    }
  }
}
