// Typography
$fontFamily: 'Roboto', sans-serif;
$fontWeight: 400;
$fontSize: 130%;
$fontSizeMobile: 110%;
$fontSizeHeading: 2rem;
$fontSizeSubHeading: 1.5rem;
$lineHeight: 1.5;
$letterSpacing: .1px;

// Spaces
$fontSizeInPx: 16px * 1.3;
$smallSpace: $fontSizeInPx / 2;
$regularSpace: $fontSizeInPx;
$bigSpace: $fontSizeInPx * 2;
