# hsts header
Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS

# enable rewrites
RewriteEngine On

# www to non-www
RewriteCond %{HTTP_HOST} ^(www\.)(.*)$ [nocase]
RewriteRule ^(.*)$ https://%2%{REQUEST_URI} [qsappend,last,redirect=301]

# http to https
RewriteCond %{HTTPS} =off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [qsappend,last,redirect=301]
