# enable rewrites
RewriteEngine On

# get apex domain from host header
SetEnvIf Host ^(?:www\.)?(.*)$ APEX_DOMAIN=$1

# redirect http to https and www to apex
RewriteCond %{HTTPS} !=on [ornext]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [nocase]
RewriteRule ^(.*)$ https://%{ENV:APEX_DOMAIN}%{REQUEST_URI} [last,redirect=301]

# set security headers
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set Cache-Control "max-age=31536000"
