RewriteEngine On
RewriteCond %{HTTPS} =off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]
RewriteCond %{HTTP_HOST} ^www\.swissplant\.ch$
RewriteRule ^/?$ "http\:\/\/swissplant\.ch\/" [R=301,L]
Header set Strict-Transport-Security "max-age=10886400"
