<!doctype html>
<html data-ng-app="swissPlant" lang="de-ch">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" translate-attr="{ content: 'portfolio.meta.description' }" content="Schauen Sie sich unser Angebot an. Wir bieten Warmhauspflanzen verschiedener Sorten an.">
  <meta name="keywords" translate-attr="{ content: 'portfolio.meta.keywords' }" content="salat, sellerie, kohl, zucchini, tomaten, gurken, lauch, fenchel, setzlinge, warmhauspflanzen, steinwolle, erde, jungpflanzen, angebot, swissplant, agriplant">
  <meta name="apple-mobile-web-app-title" content="SwissPlant">
  <meta name="robots" content="index, follow">
  <meta property="og:url" content="https://swissplant.ch/angebot.html">
  <meta property="og:image" content="https://swissplant.ch/img/og.jpg">
  <meta property="og:title" translate-attr="{ content: 'portfolio.meta.title' }" content="SwissPlant GmbH – Angebot">
  <meta property="og:description" translate-attr="{ content: 'portfolio.meta.description' }" content="Schauen Sie sich unser Angebot an. Wir bieten Warmhauspflanzen verschiedener Sorten an.">
  <meta property="og:type" content="website">
  <title translate="portfolio.meta.title">SwissPlant GmbH – Angebot</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" href="img/apple.png">
  <link rel="canonical" href="https://swissplant.ch/angebot.html">
</head>

<body ng-controller="langCtrl">
  <header class="_header" ng-cloak translate-cloak>
    <nav class="_header-navigation">
      <ul class="_header-navigation-list">
        <li class="_header-navigation-item">
          <a href="./" class="_header-navigation-link">
            <svg class="_icon _header-navigation-logo">
                 <use href="img/sprite.svg#swissplant-swooshless"></use>
            </svg>
          </a>
        </li>
        <li class="_header-navigation-item _header-navigation-item-home">
          <a class="_header-navigation-link" href="." translate="nav.start"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="firma.html" translate="nav.company"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="team.html" translate="nav.team"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="angebot.html" translate="nav.portfolio"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="partner.html" translate="nav.partners"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="kontakt.html" translate="nav.contact"></a>
        </li>
        <li class="_header-navigation-item _header-navigation-lang-container">
            <svg class="_icon _header-navigation-lang-icon">
                 <use href="img/sprite.svg#settings"></use>
            </svg>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('de')" href="#">DE</a>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('en')" href="#">EN</a>
        </li>
      </ul>
    </nav>
  </header>
  <main ng-cloak>
    <section class="_landing _landing--small">
      <img src="img/portfolio.jpg" alt="" class="_landing-image">
    </section>
    <section class="_content">
      <h1 translate="nav.portfolio"></h1>
      <table class="_table">
        <tr>
          <td translate="portfolio.table.1x1"></td>
          <td translate="portfolio.table.1x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.10x1"></td>
          <td translate="portfolio.table.10x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.11x1"></td>
          <td translate="portfolio.table.11x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.12x1"></td>
          <td translate="portfolio.table.12x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.2x1"></td>
          <td translate="portfolio.table.2x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.3x1"></td>
          <td translate="portfolio.table.3x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.13x1"></td>
          <td translate="portfolio.table.13x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.4x1"></td>
          <td translate="portfolio.table.4x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.6x1"></td>
          <td translate="portfolio.table.6x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.7x1"></td>
          <td translate="portfolio.table.7x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.8x1"></td>
          <td translate="portfolio.table.8x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.9x1"></td>
          <td translate="portfolio.table.9x2"></td>
        </tr>
        <tr>
          <td translate="portfolio.table.14x1"></td>
          <td translate="portfolio.table.14x2"></td>
        </tr>
      </table>
      <p translate="portfolio.description"></p>
    </section>
  </main>
  <footer class="_footer" ng-cloak>
    <div class="_footer-content">
      <div class="_footer-content-left">
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#swissplant-swooshless"></use>
        </svg>
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#agriplant-swooshless"></use>
        </svg>
        <p class="_footer-text" translate="footer.copyright"></p>
      </div>
      <div class="_footer-content-center">
        <p class="_footer-text" translate="footer.address"></p>
        <p class="_footer-text" translate="footer.emails"></p>
      </div>
      <div class="_footer-content-right">
        <p class="_footer-text" translate="footer.hours"></p>
        <p class="_footer-text" translate="footer.phone"></p>
      </div>
    </div>
    <hr class="_footer-hr">
    <div class="_footer-content">
      <p class="_footer-text">
        <a href="." translate="nav.start"></a> — <a href="firma.html" translate="nav.company"></a> — <a href="angebot.html" translate="nav.portfolio"></a> — <a href="partner.html" translate="nav.partners"></a> — <a href="kontakt.html" translate="nav.contact"></a>
      </p>
    </div>
    <div class="_footer-content">
      <p class="_footer-text" translate="footer.robin"></p>
    </div>
  </footer>
  <script src="js/swissplant.js"></script>
</body>

</html>
