<!doctype html>
<html data-ng-app="swissPlant">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" translate-attr="{content: 'home.meta.description'}">
  <meta name="keywords" translate-attr="{content: 'home.meta.keywords'}">
  <meta name="author" content="Robin Löffel">
  <title translate="home.meta.title">SwissPlant</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.png">
</head>

<body ng-controller="langCtrl">
  <header class="_header" ng-cloak translate-cloak>
    <nav class="_header-navigation">
      <ul class="_header-navigation-list">
        <li class="_header-navigation-item">
          <a href="./" class="_header-navigation-link">
            <svg class="_icon _header-navigation-logo">
                 <use href="img/sprite.svg#swissplant-swooshless"></use>
            </svg>
          </a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="ueber-uns.html" translate="nav.about"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="angebot.html" translate="nav.portfolio"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="partner.html" translate="nav.partners"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="kontakt.html" translate="nav.contact"></a>
        </li>
        <li class="_header-navigation-item _header-navigation-lang-container">
            <svg class="_icon _header-navigation-lang-icon">
                 <use href="img/sprite.svg#settings"></use>
            </svg>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('de')" href="#">DE</a>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('en')" href="#">EN</a>
        </li>
      </ul>
    </nav>
  </header>
  <main ng-cloak>
    <section class="_landing">
      <div class="_landing-images">
        <img src="img/one.jpg" alt="" class="_landing-image">
        <img src="img/two.jpg" alt="" class="_landing-image">
        <img src="img/three.jpg" alt="" class="_landing-image">
        <img src="img/four.jpg" alt="" class="_landing-image">
      </div>
      <div class="_landing-content">
        <svg class="_icon _landing-logo">
             <use href="img/sprite.svg#swissplant"></use>
        </svg>
        <a href="#" class="_landing-jump" data-scroll-target="#ueber-uns">
          <svg class="_icon">
               <use href="img/sprite.svg#arrow-down-circle"></use>
          </svg>
        </a>
      </div>
    </section>
    <section id="ueber-uns" class="_split">
      <div class="_split-half">
        <img src="img/three.jpg" class="_split-image" alt="">
      </div>
      <div class="_split-half">
        <div class="_split-text">
          <h2 translate="home.about.heading"></h2>
          <p translate="home.about.intro"></p>
          <a class="_more" href="ueber-uns.html" translate="home.button.more"></a>
        </div>
      </div>
    </section>
    <section id="angebot" class="_split">
      <div class="_split-half">
        <div class="_split-text">
          <h2 translate="home.portfolio.heading"></h2>
          <p translate="home.portfolio.intro"></p>
          <a class="_more" href="angebot.html" translate="home.button.more"></a>
        </div>
      </div>
      <div class="_split-half">
        <img src="img/portfolio.jpg" class="_split-image" alt="">
      </div>
    </section>
    <section id="partner" class="_split">
      <div class="_split-half">
        <img src="img/partners.jpg" class="_split-image" alt="">
      </div>
      <div class="_split-half">
        <div class="_split-text">
          <h2 translate="home.partners.heading"></h2>
          <p translate="home.partners.intro"></p>
          <a class="_more" href="partner.html" translate="home.button.more"></a>
        </div>
      </div>
    </section>
    <section id="kontakt" class="_split">
      <div class="_split-half">
        <div class="_split-text">
          <h2 translate="home.contact.heading"></h2>
          <p translate="home.contact.intro"></p>
          <a class="_more" href="kontakt.html" translate="home.button.more"></a>
        </div>
      </div>
      <div class="_split-half">
        <div class="_split-map"></div>
      </div>
    </section>
  </main>
  <footer class="_footer" ng-cloak>
    <div class="_footer-content">
      <div class="_footer-content-left">
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#swissplant-swooshless"></use>
        </svg>
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#agriplant-swooshless"></use>
        </svg>
        <p class="_footer-text" translate="footer.copyright"></p>
      </div>
      <div class="_footer-content-center">
        <p class="_footer-text" translate="footer.address"></p>
        <p class="_footer-text" translate="footer.emails"></p>
      </div>
      <div class="_footer-content-right">
        <p class="_footer-text" translate="footer.hours"></p>
        <p class="_footer-text" translate="footer.phone"></p>
      </div>
    </div>
    <hr class="_footer-hr">
    <div class="_footer-content">
      <p class="_footer-text">
        <a href="." translate="nav.start"></a> &mdash; <a href="ueber-uns.html" translate="nav.about"></a> &mdash; <a href="angebot.html" translate="nav.portfolio"></a> &mdash; <a href="partner.html" translate="nav.partners"></a> &mdash; <a href="kontakt.html" translate="nav.contact"></a>
      </p>
    </div>
    <div class="_footer-content">
      <p class="_footer-text" translate="footer.robin"></p>
    </div>
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/swissplant.js"></script>
</body>

</html>
