<!doctype html>
<html data-ng-app="swissPlant" lang="de-ch">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" translate-attr="{ content: 'contact.meta.description' }" content="Erfahren Sie, wie Sie am schnellsten zu uns finden oder uns am einfachsten erreichen.">
  <meta name="keywords" translate-attr="{ content: 'contact.meta.keywords' }" content="kontakt, mail, email, telefon, bern, neuenburg, neuchatel, kerzers, müntschemier, muentschemier, ins, auto, autobahn, ankunft, anfahrt, swissplant, agriplant">
  <meta name="apple-mobile-web-app-title" content="SwissPlant">
  <meta name="robots" content="index, follow">
  <meta property="og:url" content="https://swissplant.ch/kontakt.html">
  <meta property="og:image" content="https://swissplant.ch/img/og.jpg">
  <meta property="og:title" translate-attr="{ content: 'contact.meta.title' }" content="SwissPlant GmbH – Kontakt">
  <meta property="og:description" translate-attr="{ content: 'contact.meta.description' }" content="Erfahren Sie, wie Sie am schnellsten zu uns finden oder uns am einfachsten erreichen.">
  <meta property="og:type" content="website">
  <title translate="contact.meta.title">SwissPlant GmbH – Kontakt</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" href="img/apple.png">
  <link rel="canonical" href="https://swissplant.ch/kontakt.html">
</head>

<body ng-controller="langCtrl">
  <header class="_header" ng-cloak translate-cloak>
    <nav class="_header-navigation">
      <ul class="_header-navigation-list">
        <li class="_header-navigation-item">
          <a href="./" class="_header-navigation-link">
            <svg class="_icon _header-navigation-logo">
                 <use href="img/sprite.svg#swissplant-swooshless"></use>
            </svg>
          </a>
        </li>
        <li class="_header-navigation-item _header-navigation-item-home">
          <a class="_header-navigation-link" href="." translate="nav.start"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="firma.html" translate="nav.company"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="team.html" translate="nav.team"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="angebot.html" translate="nav.portfolio"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="partner.html" translate="nav.partners"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="kontakt.html" translate="nav.contact"></a>
        </li>
        <li class="_header-navigation-item _header-navigation-lang-container">
            <svg class="_icon _header-navigation-lang-icon">
                 <use href="img/sprite.svg#settings"></use>
            </svg>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('de', $event)" href="#">DE</a>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('en', $event)" href="#">EN</a>
        </li>
      </ul>
    </nav>
  </header>
  <main ng-cloak>
    <section class="_landing _landing--small">
      <picture>
        <source type="image/webp" srcset="img/four-400w.webp 400w, img/four-800w.webp 800w, img/four-1200w.webp 1200w, img/four-1600w.webp 1600w">
        <source type="image/jpeg" srcset="img/four-400w.jpg 400w, img/four-800w.jpg 800w, img/four-1200w.jpg 1200w, img/four-1600w.jpg 1600w">
        <img class="_split-image" src="img/four-400w.jpg" loading="lazy" alt="">
      </picture>
    </section>
    <section class="_content">
      <div class="wrapper copytext">
        <h1 translate="nav.contact"></h1>
        <h2 translate="contact.from.bern"></h2>
        <p translate="contact.from.bern.description"></p>
        <h2 translate="contact.from.neuchatel"></h2>
        <p translate="contact.from.neuchatel.description"></p>
        <h2 translate="contact.map"></h2>
        <div class="_map"></div>
      </div>
    </section>
  </main>
  <footer class="_footer" ng-cloak>
    <div class="_footer-content">
      <div class="_footer-content-left">
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#swissplant-swooshless"></use>
        </svg>
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#agriplant-swooshless"></use>
        </svg>
        <p class="_footer-text" translate="footer.copyright"></p>
      </div>
      <div class="_footer-content-center">
        <p class="_footer-text" translate="footer.address"></p>
        <p class="_footer-text" translate="footer.emails"></p>
      </div>
      <div class="_footer-content-right">
        <p class="_footer-text" translate="footer.hours"></p>
        <p class="_footer-text" translate="footer.phone"></p>
      </div>
    </div>
    <hr class="_footer-hr">
    <div class="_footer-content">
      <p class="_footer-text">
        <a href="." translate="nav.start"></a> — <a href="firma.html" translate="nav.company"></a> — <a href="team.html" translate="nav.team"></a> — <a href="angebot.html" translate="nav.portfolio"></a> — <a href="partner.html" translate="nav.partners"></a> — <a href="kontakt.html" translate="nav.contact"></a>
      </p>
    </div>
    <div class="_footer-content">
      <p class="_footer-text" translate="footer.robin"></p>
    </div>
  </footer>
  <script src="js/swissplant.js"></script>
</body>

</html>
