<!doctype html>
<html data-ng-app="swissPlant">

<head>
    <title>SwissPlant GmbH &mdash; Kontakt</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="description" content="Die Firmen AgriPlant AG und SwissPlant GmbH produzieren, handeln und importieren mit in- und ausländischen Gemüsejungpflanzen und Hilfsstoffen." />
    <meta name="keywords" content="Gemüse, Gemuese, Jungpflanzen, Setzlinge, Salat, Schweiz, Seeland, SwissPlant" />
    <meta name="author" content="Robin Löffel" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body ng-controller="langCtrl">
    <header ng-cloak translate-cloak>
        <nav class="desktop-nav">
            <ul class="clearfix">
                <li>
                    <a href="./">
                        <img src="img/logo-swissplant-tilted.svg" translate-attr="{alt: 'common_logo_alt'}">
                    </a>
                </li>
                <li>
                    <a href="ueber-uns.html" translate="nav_about"></a>
                </li>
                <li>
                    <a href="angebot.html" translate="nav_portfolio"></a>
                </li>
                <li>
                    <a href="partner.html" translate="nav_partners"></a>
                </li>
                <li class="active">
                    <a href="kontakt.html" translate="nav_contact"></a>
                </li>
                <li class="mobile-menu">
                    <i class="fa fa-bars"></i>
                </li>
                <li class="lang-changer">
                    <div class="lang-changer-container">
                        <div class="icon-container">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="changer-container">
                            <span data-ng-click="changeLang('de')">de</span>
                            <span data-ng-click="changeLang('en')">en</span>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="mobile-nav mobile-only">
            <ul class="clearfix">
                <li>
                    <a href="#" class="close-mobile-nav">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
                <li>
                    <a href="./" translate="nav_start"></a>
                </li>
                <li>
                    <a href="ueber-uns.html" translate="nav_about"></a>
                </li>
                <li>
                    <a href="angebot.html" translate="nav_portfolio"></a>
                </li>
                <li>
                    <a href="partner.html" translate="nav_partners"></a>
                </li>
                <li>
                    <a href="kontakt.html" translate="nav_contact"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main ng-cloak>
        <section id="landing" class="little-hero">
            <div class="cover-parent">
                <div class="cover-parent-background one top"></div>
            </div>
        </section>
        <section id="ueber-uns">
            <div class="wrapper copytext">
                <h1 translate="nav_contact"></h1>
                <h2 translate="contact_detail_header_h1"></h2>
                <p translate="contact_detail_copy_p1"></p>
                <h2 translate="contact_detail_header_h2"></h2>
                <p translate="contact_detail_copy_p2"></p>
                <h2 translate="contact_detail_header_h3"></h2>
                <div id="map-canvas" class="contact-map"></div>
            </div>
        </section>
    </main>
    <footer ng-cloak>
        <div class="wrapper">
            <p>
                <small>
                    <a href="." translate="nav_start"></a>
                    &mdash;
                    <a href="ueber-uns.html" translate="nav_about"></a>
                    &mdash;
                    <a href="angebot.html" translate="nav_portfolio"></a>
                    &mdash;
                    <a href="partner.html" translate="nav_partners"></a>
                    &mdash;
                    <a href="kontakt.html" translate="nav_contact"></a>
                </small>
            </p>
            <p>
                <img src="img/logo-swissplant-tilted.svg" class="footer-logo" translate-attr="{alt: 'common_logo_alt'}">
                <br>
                <img src="img/logo-agriplant.svg" class="footer-logo" translate-attr="{alt: 'common_logo_alt'}">
            </p>
            <p>
                <small translate="footer_address"></small>
            </p>
            <p>
                <small translate="footer_opening_hours"></small>
            </p>
            <p>
                <small translate="footer_robin"></small>
            </p>
            <p>
                <small translate="footer_copyright"></small>
            </p>
        </div>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
    <script src="js/vendor.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/map.js" type="text/javascript"></script>
</body>

</html>
