<!doctype html>
<html data-ng-app="swissPlant">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" translate-attr="{content: 'partners.meta.description'}">
  <meta name="keywords" translate-attr="{content: 'partners.meta.keywords'}">
  <meta name="author" content="Robin Löffel">
  <title translate="partners.meta.title">SwissPlant</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.png">
</head>

<body ng-controller="langCtrl">
  <header class="_header" ng-cloak translate-cloak>
    <nav class="_header-navigation">
      <ul class="_header-navigation-list">
        <li class="_header-navigation-item">
          <a href="./" class="_header-navigation-link">
            <svg class="_icon _header-navigation-logo">
                 <use href="img/sprite.svg#swissplant-swooshless"></use>
            </svg>
          </a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="ueber-uns.html" translate="nav.about"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="angebot.html" translate="nav.portfolio"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="partner.html" translate="nav.partners"></a>
        </li>
        <li class="_header-navigation-item">
          <a class="_header-navigation-link" href="kontakt.html" translate="nav.contact"></a>
        </li>
        <li class="_header-navigation-item _header-navigation-lang-container">
            <svg class="_icon _header-navigation-lang-icon">
                 <use href="img/sprite.svg#settings"></use>
            </svg>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('de')" href="#">DE</a>
            <a class="_header-navigation-lang-button" data-ng-click="changeLang('en')" href="#">EN</a>
        </li>
      </ul>
    </nav>
  </header>
  <main ng-cloak>
    <section id="landing" class="little-hero">
      <div class="cover-parent">
        <div class="cover-parent-background partners-image top"></div>
      </div>
    </section>
    <section id="ueber-uns">
      <div class="wrapper copytext">
        <h1 translate="nav.partners"></h1>
        <h2 translate="partners.agriplant"></h2>
        <p translate="partners.agriplant.description.first"></p>
        <p translate="partners.agriplant.description.second"></p>
        <h2 translate="partners.gipmans"></h2>
        <p translate="partners.gipmans.description.first"></p>
        <p translate="partners.gipmans.description.second"></p>
      </div>
    </section>
  </main>
  <footer class="_footer" ng-cloak>
    <div class="_footer-content">
      <div class="_footer-content-left">
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#swissplant-swooshless"></use>
        </svg>
        <svg class="_icon _footer-logo">
          <use href="img/sprite.svg#agriplant-swooshless"></use>
        </svg>
        <p class="_footer-text" translate="footer.copyright"></p>
      </div>
      <div class="_footer-content-center">
        <p class="_footer-text" translate="footer.address"></p>
        <p class="_footer-text" translate="footer.emails"></p>
      </div>
      <div class="_footer-content-right">
        <p class="_footer-text" translate="footer.hours"></p>
        <p class="_footer-text" translate="footer.phone"></p>
      </div>
    </div>
    <hr class="_footer-hr">
    <div class="_footer-content">
      <p class="_footer-text">
        <a href="." translate="nav.start"></a> &mdash; <a href="ueber-uns.html" translate="nav.about"></a> &mdash; <a href="angebot.html" translate="nav.portfolio"></a> &mdash; <a href="partner.html" translate="nav.partners"></a> &mdash; <a href="kontakt.html" translate="nav.contact"></a>
      </p>
    </div>
    <div class="_footer-content">
      <p class="_footer-text" translate="footer.robin"></p>
    </div>
  </footer>
  <script src="js/swissplant.js"></script>
</body>

</html>
