<!doctype html>
<html data-ng-app="swissPlant">

<head>
    <meta charset="utf-8" />
    <title translate="about.meta.title">SwissPlant</title>
    <meta name="description" translate-attr="{content: 'about.meta.description'}" />
    <meta name="keywords" translate-attr="{content: 'about.meta.keywords'}" />
    <meta name="author" content="Robin Löffel" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
</head>

<body ng-controller="langCtrl">
    <header ng-cloak translate-cloak>
        <nav class="desktop-nav">
            <ul class="clearfix">
                <li>
                    <a href="./">
                        <img src="img/logo-swissplant-tilted.svg" translate-attr="{alt: 'common.logo.swissplant.alt'}">
                    </a>
                </li>
                <li class="active">
                    <a href="ueber-uns.html" translate="nav.about"></a>
                </li>
                <li>
                    <a href="angebot.html" translate="nav.portfolio"></a>
                </li>
                <li>
                    <a href="partner.html" translate="nav.partners"></a>
                </li>
                <li>
                    <a href="kontakt.html" translate="nav.contact"></a>
                </li>
                <li class="mobile-menu">
                    <i class="fa fa-bars"></i>
                </li>
                <li class="lang-changer">
                    <div class="lang-changer-container">
                        <div class="icon-container">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="changer-container">
                            <span data-ng-click="changeLang('de')">de</span>
                            <span data-ng-click="changeLang('en')">en</span>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="mobile-nav mobile-only">
            <ul class="clearfix">
                <li>
                    <a href="#" class="close-mobile-nav">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
                <li>
                    <a href="./" translate="nav.start"></a>
                </li>
                <li>
                    <a href="ueber-uns.html" translate="nav.about"></a>
                </li>
                <li>
                    <a href="angebot.html" translate="nav.portfolio"></a>
                </li>
                <li>
                    <a href="partner.html" translate="nav.partners"></a>
                </li>
                <li>
                    <a href="kontakt.html" translate="nav.contact"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main ng-cloak>
        <section id="landing" class="little-hero">
            <div class="cover-parent">
                <div class="cover-parent-background about-image top"></div>
            </div>
        </section>
        <section id="ueber-uns">
            <div class="wrapper copytext">
                <h1 translate="nav.about"></h1>
                <video controls poster="../img/poster.jpg">
                    <source src="video/swissplant.mp4" type="video/mp4">
                    Your Browser does not support HTML5 videos. Please consider upgrading.
                </video>
                <p translate="about.copy.first"></p>
                <p translate="about.copy.second"></p>
                <p translate="about.copy.third"></p>
                <div class="photo-list clearfix">
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/martin-loeffel.jpg" translate-attr="{alt: 'about.martin.alt'}" />
                        <figcaption>
                            <span>Martin Löffel</span>
                            <span translate="about.martin.position"></span>
                            <span><a href="mailto:m.loeffel@swissplant.ch">m.loeffel@swissplant.ch</a></span>
                            <span><a href="tel:+41796314559">+41 79 631 45 59</a></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/telja-baumann.jpg" translate-attr="{alt: 'about.telja.alt'}" />
                        <figcaption>
                            <span>Telja Baumann</span>
                            <span translate="about.telja.position"></span>
                            <span><a href="mailto:t.baumann@swissplant.ch">t.baumann@swissplant.ch</a></span>
                            <span><a href="tel:+41798153835">+41 79 815 38 35</a></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/pascal-probst.jpg" translate-attr="{alt: 'about.pascal.alt'}" />
                        <figcaption>
                            <span>Pascal Probst</span>
                            <span translate="about.pascal.position"></span>
                            <span><a href="mailto:p.probst@swissplant.ch">p.probst@swissplant.ch</a></span>
                            <span><a href="tel:+41796415210">+41 79 641 52 10</a></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/sandro-loeffel.jpg" translate-attr="{alt: 'about.sandro.alt'}" />
                        <figcaption>
                            <span>Sandro Löffel</span>
                            <span translate="about.sandro.position"></span>
                            <span><a href="mailto:s.loeffel@swissplant.ch">s.loeffel@swissplant.ch</a></span>
                            <span><a href="tel:+41797415210">+41 79 741 52 10</a></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/ivan-gross.jpg" translate-attr="{alt: 'about.ivan.alt'}" />
                        <figcaption>
                            <span>Ivan Gross</span>
                            <span translate="about.ivan.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/ruedi-niklaus.jpg" translate-attr="{alt: 'about.ruedi.alt'}" />
                        <figcaption>
                            <span>Ruedi Niklaus</span>
                            <span translate="about.ruedi.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/shpend-thaqi.jpg" translate-attr="{alt: 'about.shpend.alt'}" />
                        <figcaption>
                            <span>Shpend Thaqi</span>
                            <span translate="about.shpend.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/andrzej-mojsym.jpg" translate-attr="{alt: 'about.andrzej.alt'}" />
                        <figcaption>
                            <span>Andrzej Mojsym</span>
                            <span translate="about.andrzej.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/hans-peter-schwab.jpg" translate-attr="{alt: 'about.hans-peter.alt'}" />
                        <figcaption>
                            <span>Hans-Peter Schwab</span>
                            <span translate="about.hans-peter.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/hans-ulrich-jampen.jpg" translate-attr="{alt: 'about.hans-ulrich.alt'}" />
                        <figcaption>
                            <span>Hans-Ulrich Jampen</span>
                            <span translate="about.hans-ulrich.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/placeholder.jpg" translate-attr="{alt: 'about.damian.alt'}" />
                        <figcaption>
                            <span>Damian Makarewicz</span>
                            <span translate="about.damian.position"></span>
                        </figcaption>
                    </figure>
                    <figure tabindex="0">
                        <img src="img/mitarbeiter/placeholder.jpg" translate-attr="{alt: 'about.mariusz.alt'}" />
                        <figcaption>
                            <span>Mariusz Wronski</span>
                            <span translate="about.mariusz.position"></span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </main>
    <footer ng-cloak>
        <div class="wrapper clearfix">
            <div class="left">
                <p>
                    <img src="img/logo-swissplant-tilted.svg" class="footer-logo" translate-attr="{alt: 'common.logo.swissplant.alt'}">
                    <br/>
                    <img src="img/logo-agriplant.svg" class="footer-logo" translate-attr="{alt: 'common.logo.agriplant.alt'}">
                </p>
                <p translate="footer.copyright"></p>
            </div>
            <div class="center">
                <p translate="footer.address"></p>
                <p translate="footer.po-boxes"></p>
                <p translate="footer.phone"></p>
            </div>
            <div class="right">
                <p translate="footer.hours"></p>
                <p translate="footer.emails"></p>
            </div>
            <div class="row separator">
                <p>
                    <a href="." translate="nav.start"></a>
                    &mdash;
                    <a href="ueber-uns.html" translate="nav.about"></a>
                    &mdash;
                    <a href="angebot.html" translate="nav.portfolio"></a>
                    &mdash;
                    <a href="partner.html" translate="nav.partners"></a>
                    &mdash;
                    <a href="kontakt.html" translate="nav.contact"></a>
                </p>
            </div>
            <div class="row">
                <p translate="footer.robin"></p>
            </div>
        </div>
    </footer>
    <script src="js/bundle.js"></script>
</body>

</html>
