@use "variables";

html {
  font-family: variables.$font-family;
  font-size: variables.$font-size-mobile;
  line-height: variables.$line-height;
  color: variables.$color-text;
  text-rendering: optimizelegibility;

  @media (width >= 900px) {
    font-size: variables.$font-size;
  }
}

h1,
h2,
h3 {
  hyphens: auto;
  line-height: variables.$line-height-heading;
  text-wrap: balance;
}

h1,
table {
  margin-bottom: variables.$space-big;
}

h1 {
  font-size: 2rem;
}

h2,
h3,
ul,
ol,
p:not(:last-child) {
  margin-bottom: variables.$space-regular;
}

a {
  color: variables.$color-brand;
}

ul,
ol {
  padding-left: variables.$space-big;
}

hr {
  height: 2px;
  margin: variables.$space-huge 0;
  background-color: variables.$color-black-05;
  border: 0;
}

address {
  font-style: unset;
  white-space: pre-line;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
