@use "variables";

.content {
  width: 80%;
  margin: 10% auto;

  @media (width >= 900px) {
    width: min(90%, 800px);
    margin: 100px auto;
  }

  .copytext {
    svg {
      width: 100%;
      height: min(75px, 10vw);
      margin: variables.$space-small 0 variables.$space-big 0;
      color: variables.$color-brand;
    }
  }

  > * + *,
  ol li + li {
    margin-top: 2em;
  }

  .two-column {
    > * + * {
      margin-top: 2em;
    }

    @media (width >= 640px) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > * + * {
        margin-top: unset;
      }

      > * {
        min-width: 0;
      }

      .left {
        grid-column: 1 / span 1;
      }

      .right {
        grid-column: 2 / span 1;
      }
    }
  }
}
