@use "variables";

.landing {
  position: relative;
  display: grid;
  place-content: center;
  height: 100vh;
  color: variables.$color-white;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: "";
    background-color: variables.$color-brand;
  }

  &-images,
  &-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &-images {
    &::after {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: variables.$color-black-50;
    }
  }

  &-image {
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &-visible {
      opacity: unset;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    max-width: 1024px;
  }

  &-jump {
    display: inline-grid;
    place-items: center;
    width: 50px;
    height: 50px;
    font-size: 150%;
    color: inherit;
    cursor: pointer;
    background: none;
    border: 0;

    > * {
      pointer-events: none;
      animation: move 1s alternate infinite ease-in-out;
    }
  }

  &-logo {
    width: 100%;
    height: 200px;
  }

  &--small {
    height: 40vh;

    .landing-images::after {
      content: none;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(-5px);
  }
}
