@use "sass:math";
@use "variables";

.navigation {
  position: fixed;
  inset: 0 0 auto;
  z-index: 9;
  width: min(100% - 30px, 560px);
  margin: 15px auto;
  overflow: hidden;
  background-color: variables.$color-white-90;
  backdrop-filter: blur(25px);
  border-radius: 10px;
  box-shadow: 0 5px 15px variables.$color-black-5;
  transition: translate 0.3s ease-in-out;

  &--hidden {
    translate: 0 calc(-100% - 30px);
  }

  &-list {
    display: grid;
    grid-template-rows: auto 0fr;
    padding: variables.$space-big;
    margin: 0;
    transition: grid-template-rows 0.3s ease-in-out;
    will-change: grid-template-rows;

    .navigation--open & {
      grid-template-rows: auto 1fr;
    }
  }

  &-expando {
    display: grid;
    overflow: hidden;
    visibility: hidden;
    transition:
      margin-top 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    will-change: margin-top;

    .navigation--open & {
      margin-top: variables.$space-big;
      visibility: unset;
    }
  }

  &-expando-wrapper {
    display: grid;
    row-gap: variables.$space-regular;
    padding: 0;
    margin: 0;
  }

  &-item {
    display: inline-flex;
    align-items: center;

    &-logo,
    &-trigger {
      grid-area: 1 / 1 / 2 / -1;
    }

    &-logo {
      justify-self: start;
    }

    &-trigger {
      justify-self: end;
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;
    color: unset;
    text-decoration: none;
  }

  &-mobile-button {
    font-size: 125%;
    color: inherit;
    cursor: pointer;
    background: none;
    border: 0;
    transition: rotate 0.3s ease-in-out;

    .navigation--open & {
      rotate: 0.5turn;
    }
  }

  &-language-switcher {
    padding-left: 0;
    margin: 0;
    list-style: none;

    &__item {
      display: inline-block;

      & + & {
        margin-left: 10px;
      }
    }

    &__button {
      font-size: smaller;
      color: inherit;
      cursor: pointer;
      background: none;
      border: 0;
    }
  }
}
