@use "sass:math";
@use "variables";

.navigation {
  position: fixed;
  inset: 0 0 auto;
  z-index: 9;
  width: min(100% - 20px, 480px);
  margin: 10px auto 0;
  background-color: variables.$color-white-90;
  isolation: isolate;
  backdrop-filter: blur(8px);
  border: 1px solid variables.$color-black-5;
  border-radius: 16px;
  box-shadow: 0 4px 8px variables.$color-black-5;
  transition: translate 0.3s ease-in-out;

  &.hidden {
    translate: 0 -110%;
  }
}

.navigation-bar,
.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.navigation-bar-item {
  display: grid;
  place-items: center;
}

.navigation-bar-logo,
.navigation-bar-toggle {
  display: grid;
  place-content: center;
}

.navigation-bar-toggle {
  width: 32px;
  height: 32px;
  font-size: 125%;
  color: inherit;
  cursor: pointer;
  background: 0;
  border: 0;
  transition: rotate 0.3s ease-in-out;

  .open & {
    rotate: 0.5turn;
  }
}

.navigation-expando {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
  will-change: grid-template-rows;

  .open & {
    grid-template-rows: 1fr;
  }
}

.navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;

  .open & {
    visibility: unset;
  }
}

.navigation-item {
  &:nth-child(-n + 2) {
    border-top: 1px solid variables.$color-black-5;
  }

  &:not(:last-child) {
    border-bottom: 1px solid variables.$color-black-5;
  }

  &:nth-child(odd) {
    border-right: 0.5px solid variables.$color-black-5;
  }

  &:nth-child(even) {
    border-left: 0.5px solid variables.$color-black-5;
  }

  &:last-child {
    grid-column: span 2;
    text-align: center;
    border: 0;
  }
}

.navigation-link {
  display: block;
  padding: 16px;
  text-align: center;
}

.navigation-language-toggle {
  padding: 16px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: 0;
  border: 0;

  > * {
    pointer-events: none;
  }
}
