.split {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.split-text {
  grid-column: span 2;
  width: min(75%, 640px);
  margin: 5% auto;

  .split:first-child & {
    margin-top: 10%;
  }

  .split:last-child & {
    margin-bottom: 10%;
  }
}

.split-image {
  display: none;
  width: 100%;
  height: 100%;
}

.split-map {
  display: none;
}

@media (width >= 780px) {
  .split {
    height: 65vh;
  }

  .split-text {
    grid-column: span 1;
    margin: auto;

    .split:first-child & {
      margin-top: auto;
    }

    .split:last-child & {
      margin-bottom: auto;
    }
  }

  .split-image,
  .split-map {
    display: unset;
  }
}
