.split {
  display: flex;
  height: 65vh;

  &-half {
    position: relative;
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-text {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (width <= 1200px) {
  .split {
    height: auto;
    flex-direction: column;

    &-image,
    &-map {
      display: none;
    }

    &-text {
      flex-basis: 80%;
      margin: 10% 0;
    }
  }
}
