@use "variables";

.table {
  width: 100%;
  border: 1px solid variables.$color-black-5;
  border-collapse: collapse;

  tr {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:nth-child(odd) {
      background-color: variables.$color-black-5;
    }

    &:hover {
      background-color: variables.$color-brand;
      color: variables.$color-white;
    }
  }

  td {
    padding: 10px;

    &:first-child {
      font-weight: 700;
    }
  }

  @media (width <= 900px) {
    td {
      padding: 5px;

      &:first-child {
        padding-right: 0;
      }
    }
  }
}
